/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

header {
  background-color: #333;
  padding: 10px;
  text-align: center;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline;
  margin: 0 15px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.content {
  margin: 20px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.auth-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;
}

.auth-container img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.auth-container h2 {
  margin-bottom: 20px;
}

.auth-container form {
  display: flex;
  flex-direction: column;
}

.auth-container input {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.auth-container button {
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.auth-container button:hover {
  background-color: #555;
}

.home-container,
.posts-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;
  margin-bottom: 50px;
}

.posts-container .post {
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
}

.posts-container .post h2 {
  color: #333;
}

.posts-container .post a {
  text-decoration: none;
  color: #007BFF;
}

.btn {
  display: inline-block;
  padding: 10px 15px;
  background-color: #333;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.logout-btn {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 18px;
}

.profile-container {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  background: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;
}

.profile-info img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.btn {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 15px;
  background: #333;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.comment-hr {
  margin-top: 20px;
}