<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <center>
        <h1>Welcome to the Library System</h1>

        {% if user.is_authenticated %}
            <p>Hello, {{ user.username }}!</p>
            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <p>You are not logged in.</p>
            <a href="{% url 'login' %}">Login</a> | <a href="{% url 'register' %}">Register</a>
        {% endif %}
    </center>
</body>
</html>
